/* Reset some default styles and set up the video background */

@font-face { font-family: monument; src: url("fonts/MonumentExtended-Regular.otf"); } 
/* @font-face { font-family: monument; font-weight: normal; src: url("fonts/MonumentExtended-Regular.otf");} */

.pdfobject-container { height: 30rem; border: 1rem solid rgba(0,0,0,.1); }

body, h1, p, video {
    margin: 0;
    padding: 0;
 }
 a {
    color:silver;
    text-decoration: dashed;
 }

 a:hover {
    color: white ; /* New link color on hover */
}


 body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Vertical layout */
    justify-content: space-between; /* Header at the top, footer at the bottom */
    height: 100vh;
 }
 #video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
 }
 
 /* Style the content container */
 .content {
    color: silver;
    margin-left: 5%;
    width: 90%;
    margin-top: -5%; 
 }
 
 .intro {
    color: silver;
    padding-top: 1%;
    /* margin-left: 5%; */
    width: 90%;
    font-size: 150%;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: monument;
 }


/* Style the header */
/* header {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: transparent;
   padding: 2%;
   text-align: left;
   color: silver;
} */

/* Style for the header */
header {
   background-color:transparent; /* Example background color for the header */
   padding: 10px; /* Add padding for spacing */
   display: flex; /* Enable flex layout */
   justify-content: space-between; /* Space content between the two regions */
   align-items: center; /* Center content vertically */
   color: silver; /* Text color */
   
}

/* Style for the left region within the header */
.left-region {
   padding-left: 1%;
   font-family: 'Franklin Gothic Black';
}

/* Style for the right region within the header */
.right-region {
   padding-right: 1%;
   font-family: monument;
}

/* Style for the navigation links within the right region */
.right-region nav ul {
   list-style-type: none; /* Remove list bullets */
   padding: 0; /* Remove default padding */
}

.right-region nav ul li {
   display: inline; /* Display list items horizontally */
   margin-left: 20px; /* Add spacing between items */
}

.right-region nav ul li:first-child {
   margin-left: 0; /* Remove margin for the first item */
}


 
/* header img {
    max-width: 30%; 
    max-height: 30%; 
}
*/

 /* Style the footer */
footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;
    background-color: transparent;
    padding: 20px;
    text-align: left;
    color: silver;
    margin-left: 1%;
    
}

.network {
    padding-top: 2%;
    margin-left: 3%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-animation: fadein 6s;
            animation: fadein 6s;
    margin-top: auto; }
    .network ul {
      -webkit-animation: fadein 6s;
              animation: fadein 6s;
      margin-top: auto; }
      .network ul li {
        display: inline-block;
        margin-right: 8px; }
        .network ul li a {
          display: inline-block;
          width: 30px;
          height: 30px;
          cursor: pointer; }
          .network ul li a .svg-icon {
            padding: 4px;
            width: 22px;
            height: 22px;
            margin: 0;
            display: block; }
          .network ul li a .svg-icon path,
          .network ul li a .svg-icon polygon,
          .network ul li a .svg-icon rect {
            fill: #999999;
            -webkit-transition: 1s;
            transition: 1s; }
          .network ul li a .svg-icon circle {
            stroke: #999999;
            stroke-width: 1; }
        /* .network ul li a:hover .svg-icon path,
        .network ul li a:hover .svg-icon polygon,
        .network ul li a:hover .svg-icon rect {
          fill: #FFFFFF;
          -webkit-transition: 0.1s;
          transition: 0.1s; } */
  
 .dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border-radius:5%;
    z-index: 1;
    
}

/* Style for the dropdown links */
.dropdown-content a {
    /* padding: 12px 16px; */
    text-align: center;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: grey;
    color: white;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}